### Python ###
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# distribution / packaging
*.egg-info/
/dist

# Vim
*.swp

# resources
*.zip
*.png
*.jpeg
*.jpg

# opencv tutorials
tutorials/
